@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

:root {
  --scrollbar-thumb: #856562; /* Define your thumb color */
  --scrollbar-track: #f0f0f0; /* Define your track color */
}

.no-content {
  content:"\200B"
}

/* WebKit browsers */
.scroll::-webkit-scrollbar {
  width: 6px;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 8px;
}

.scroll::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
  border-radius: 8px;
}

.table-scroll::-webkit-scrollbar{
  height: 7px;
}


.table-scroll::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 8px;
}

.table-scroll::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
  border-radius: 8px;
}